@model BiodataTest.Models.Skills

<head>
    <script type="text/javascript">
        $(document).ready(function () {
            CKEDITOR.replace('#skillDescription');
             //alert("Am responding 1");
            FliterCareers();
            
            $('#categoryID').change(function () {
                 //alert("Am responding");
                FliterCareers();

            });

        });

        //start
             var FliterCareers = function () {

             var _categoryidVal = $('#categoryID').val();//get value at category dropdown and b=not text

               alert(_categoryidVal);
                if (_categoryidVal != "") {
                    $.ajax({
                        /*url: "Career/FilterApplications",*/
                        url: '@Url.Action("FilterCategoryCareer", "YearsExperienceCost")',
                        data: { id: _categoryidVal },
                        type: "GET",
                        success: function (response)
                        {
                            //load carrer dropdown with the respose
                            $('#careerID').find('option').remove()
                            $(response).each(
                                function (index, item) {
                                    $('#careerID').append('<option value="' + item.careerID + '">' + item.careerName + '</option>')
                                });
                        }
                        //error: function () {
                        //    alert("Error");
                        //alert("error : " + reponse);
                        //}
                    });
                }
        }

            //end

       





    </script>
</head>
<hr />
<div class="panel panel-default">
    <div class="panel-body">
        <form asp-action="CreateSkills">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="skillId" />
            <div class="panel panel-primary">
                <div class="panel-heading">Create Skills</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="control-label">Category</label>
                                <select id="categoryID" name="CategoryID" class="form-control" asp-items="@(new SelectList(@ViewBag.listofCategory,"CategoryID","CategoryName"))">
                                </select>
                                <span asp-validation-for="CategoryID" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label class="control-label">Career</label>
                                <select name="careerID" id="careerID" class="form-control" asp-items="@(new SelectList(@ViewBag.Career,"CareerID","CareerName"))">
                                    @*<option value="">Select Department</option>*@
                                </select>

                                <span asp-validation-for="CareerID" class="text-danger"></span>
                            </div>

                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="skillCode" class="control-label"></label>
                                <input asp-for="skillCode" class="form-control" />
                                <span asp-validation-for="skillCode" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        


                    </div>
                    <div class="row">
                        
                        <div class="col-md-12">

                            <div class="form-group">
                                <label asp-for="skillDescription" class="control-label"></label>
                                <textarea asp-for="skillDescription" class="ckeditor"></textarea>
                                @*<textarea asp-for="skillDescription"></textarea>*@
                                @*<input asp-for="skillDescription" class="form-control" />*@
                                <span asp-validation-for="skillDescription" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    @if (ViewData["EditSkills"] != null)
                    {
                        <div class="form-group">
                            <input type="submit" value="Edit" formaction="EditSkills" class="btn btn-primary" />
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <input type="submit" value="Create" formaction="CreateSkills" class="btn btn-primary" />
                        </div>
                    }
                    @*<div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>*@

                </div>
            </div>

        </form>
    </div>
</div>
@if(Model.AllSkills !=null)
{

<div class="container-fluid">

    <div class="panel panel-success">
        <div class="panel-heading">Existing Skills</div>
        <div class="panel-body">
            <div class="row">
                <table class="table-bordered">
                    <thead class="table th">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.skillCode)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.skillDescription)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CategoryName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CareerName)
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table tb">
                        @foreach (var item in Model.AllSkills)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.skillCode)
                            </td>
                            
                            <td>
                                @*<p>@Html.Raw(item.skillDescription)</p>*@
                                @Html.DisplayFor(modelItem => item.skillDescription)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CareerName)
                            </td>
                            <td>
                                <a asp-action="EditSkills" asp-route-id="@item.skillId">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.skillId">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.skillId">Delete</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

}


