@model BiodataTest.ViewModels.CategoryViewModel


<div class="panel panel-default">
    @*<style>
        .table td, .table th {
            font-size: 12px !important;
        }

    </style>*@
    <div class="panel-body">
        <form asp-action="CreateCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CategoryID" />
            <div class="panel panel-primary">
                <div class="panel-heading">Career category</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label asp-for="CategoryName" class="control-label"></label>
                                <input asp-for="CategoryName" class="form-control" />
                                <span asp-validation-for="CategoryName" class="text-danger"></span>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="CategoryCode" class="control-label"></label>
                                <input asp-for="CategoryCode" class="form-control" />
                                <span asp-validation-for="CategoryCode" class="text-danger"></span>
                            </div>


                        </div>
                    </div>
                    @if (ViewData["EditedCategory"] != null)
                    {
                        <div class="form-group">
                            <input type="submit" value="Edit" formaction="EditCategory" class="btn btn-primary" />
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <input type="submit" value="Create" formaction="CreateCategory" class="btn btn-primary" />
                        </div>
                    }


                </div>
            </div>

        </form>
    </div>
</div>


@if (Model.AllCategories != null)
{


    <div class="container-fluid">

        <div class="panel panel-success">
            <div class="panel-heading">Existing Data</div>
            <div class="panel-body">
                <div class="row">
                    <table class="table-bordered">
                        <thead class="table th">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CategoryCode)
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody class=" table td">
                            @foreach (var item in Model.AllCategories)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CategoryCode)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CategoryID">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.CategoryID">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.CategoryID">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

