@model BiodataTest.ViewModels.ShoppingCartItemViewModel

@{
    ViewData["Title"] = "MyCart";
}

<h1>MyCart</h1>

<



<div class="panel panel-default">
    <div class="panel-body">
        <form>


            <div class="panel panel-primary">
                @*<div class="panel-heading">Filter Section</div>*@
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6" style="text-align:left">
                            <div class="form-group">
                                <div>
                                    <a asp-action="existedApplications" asp-controller="Career">Back resources</a>
                                </div>


                            </div>
                        </div>
                        <div class="col-md-6" style="text-align:right">
                            <div class="form-group">


                                <div>
                                    @*<a asp-action="CheckOut" asp-controller="ShopingCart">CheckOut</a>*@
                                    <a href="@Url.Action("CheckOut", "ShoppingCartItem", new { id =@Model.EmployerId})">CheckOut</a>
                                </div>
                            </div>
                        </div>

                        @*<input type="submit" value="Search" class="btn btn-primary" />*@
                    </div>
                </div>
            </div>
        </form>
        @if (Model.Cartitems != null)
        {
            <div class="container-fluid">

                <div class="panel panel-success">
                    <div class="panel-heading">My Cart Items</div>
                    <div class="panel-body">
                        <div class="row">

                            <table class="table-bordered">
                                <thead class="table th">
                                    <tr>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.ApplicationId)*@
                                            App Id
                                        </th>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.CategoryID)*@
                                            Category Name
                                        </th>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.CareerID)*@
                                            Career Name
                                        </th>
                                        <th hidden>
                                            @Html.DisplayNameFor(model => model.EmployerId)
                                        </th>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.FirstName)*@
                                            FirstName
                                        </th>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.LastName)*@
                                            LastName
                                        </th>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.LastName)*@
                                            Years Exp
                                        </th>
                                        <th>
                                            @*@Html.DisplayNameFor(model => model.Amount)*@
                                            Amount
                                        </th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody class="table td">

                                    @foreach (var item in Model.Cartitems)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ApplicationId)
                                            </td>
                                            <td hidden>
                                                @Html.DisplayFor(modelItem => item.CategoryID)
                                            </td>
                                            <td hidden>
                                                @Html.DisplayFor(modelItem => item.CareerID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CategoryName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CareerName)
                                            </td>
                                            <td hidden>
                                                @Html.DisplayFor(modelItem => item.EmployerId)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FirstName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.yearsExpe)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            <td hidden>
                                                @Html.DisplayFor(modelItem => item.transDate)
                                            </td>
                                            <td>
                                                <a asp-action="Delete" asp-controller="ShoppingCartItem" asp-route-id="@item.ShoppingCartItemId">Remove Item</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Total Amount:</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td>
                                                @Model.ShoppingCartTotal
                                            </td>
                                        </tr>

                                    }


                                </tbody>
                            </table>
                        </div>


                    </div>
                </div>
            </div>




        }
    </div>
</div>


