@model IEnumerable<BiodataTest.ViewModels.BioDataViewModel>

@{
    ViewData["Title"] = "approvedstaffCatalog";
}

<h1>approvedstaffCatalog</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>

            @*<th>
                @Html.DisplayNameFor(model => model.Department)
            </th>*@

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>

            @*<td>
                @Html.DisplayFor(modelItem => item.Department)
            </td>*@

            <td>
                <a asp-action="Edit" asp-route-id="@item.StaffId">Edit</a> |
                @*<a asp-action="Details" asp-route-id="@item.StaffId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.StaffId">Delete</a>*@
                <div>
                    <form asp-action="ViewCv" asp-controller="Biodata" method="post">
                        <button asp-action="ViewCv" asp-route-id="@item.StaffId" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">View CV</button>
                    </form>
                </div>
                <div>
                    <form asp-action="AddUserCartlog" asp-controller="Biodata" method="post">
                        <button asp-action="AddUserCartlog" asp-route-id="@item.StaffId" onclick="return confirm('Are you sure of adding this user to cartlog?')" class="btn btn-danger btn-sm">Add to Cartlog</button>
                    </form>

                </div>




            </td>
        </tr>
}
    </tbody>
</table>
